aws {
    batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}

process {
    withLabel: aws {
        executor = 'awsbatch'
        queue = 'awsbatch-customised-queue'
    }
}
params {
    nextflow_docker = 'job-definition://nextflow-launcher'
    nextflow_cliPath = '/home/ec2-user/nextflow/nextflow'
    git_repo = 'https://github.com/phenopolis/nextflow-genome'
    bucket_dir = 's3://phenopolis-nextflow/nextflow-work'
    git_repo_name = 'nextflow_genome'
    s3_repo = 's3://phenopolis-nextflow/git/nextflow-genome'
    aws_exe = '/home/ec2-user/miniconda/bin/aws'
}
