aws {
    batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    accessKey = ''
    secretKey = ''
    region = 'eu-central-1'
}
process {
    withLabel: small_batch {
        executor = 'awsbatch'
        queue = 'awsbatch-customised-queue'
    }
    withLabel: normal {
        executor = 'awsbatch'
        queue = 'nextflow-1000'
    }
    withLabel: c5d {
        executor = 'awsbatch'
        queue = 'c5dx24large'
    }
}
params {
  fastq_path = 's3://phenopolis-fastq'
  fastq_path_profile = 'eu-west'
  outdir = 's3://phenopolis-nextflow'
  cohort_name = 'KA'
  mode = 'wes'
  build = 'hg19'
  genomicsDB = 's3://phenopolis-nextflow/genomicsDB'
  
  align_docker = 'job-definition://nf-biocontainers-bwa-v0-7-17-3-deb_cv1'
  gatk_docker = 'broadinstitute/gatk:4.1.4.1'
  BQSR_known_sites_hg19 = 'dbsnp_138.b37.vcf.gz Mills_and_1000G_gold_standard.indels.b37.vcf.gz Homo_sapiens_assembly19.known_indels_20120518.vcf'
  human_ref_base_hg19 = 'human_g1k_b37'
  human_ref_path = 's3://human-refs/GRCh37'
  human_ref_base_hg38 = 'Homo_sapiens_assembly38'
  gatk_options = "-Djava.io.tmpdir=."
  gatk_bundle_hg19 = 's3://broad-references/hg19/v0'
  gatk_bundle_hg38 = 's3://broad-references/hg38/v0'
  picard_docker= 'broadinstitute/picard:2.22.3'
  gatk_docker= 'broadinstitute/gatk:4.1.4.1'
  indel_filter_level = 99.7
  input_bam_path = 's3://phenopolis-bam-b37/TomVulliamy/Vulliamy_Dec2016'
  input_bam_suffix = '_sorted_unique.bam'
  input_bam_profile = '--profile wasabi'
  aws_ref_profile = '--profile wasabi'
  exome_interval_list_hg19 = 'merged_exome_target_cleaned.bed'
  wgs_interval_list_hg19 = 'wgs_calling_regions.v1.interval_list'
  wgs_interval_list_hg38 = 'wgs_calling_regions.hg38.interval_list'
  wgs_scatter_N = 30
  CNN_resources_hg19 = 'hapmap_3.3.b37.vcf.gz Mills_and_1000G_gold_standard.indels.b37.vcf.gz 1000G_phase1.snps.high_confidence.b37.vcf.gz'
  CNN_filter_snp_tranche = '99.9'
  CNN_filter_indel_tranche = '99.5'
}
