aws {
    batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    client {
      maxConnections = 50
      maxErrorRetry = 100
      uploadMaxThreads = 32
      uploadChunkSize = '100MB'
      uploadMaxAttempts = 10
      uploadRetrySleep = '10 sec'
    }
}
process {
    withLabel: small_batch {
        executor = 'awsbatch'
        queue = 'awsbatch-customised-queue'
    }
    withLabel: exomiser {
        executor = 'awsbatch'
        queue = 'exomiser12-1-0'
    }
}

params {
    s3_deposit_profile = '--profile wasabi'
    s3_deposit = 's3://phenopolis-individuals'
    exomiser_docker = 'job-definition://exomiser12-1-0'
    input_filename = 'CNN.filtered.vcf.gz'
    exomiser_analysisMode = 'PASS_ONLY'
}
